/* 
    • Estilos específicos y concisos.
    • Confirmar que se cubren todos los estados interactivos necesarios para los botones.
*/
#activities-table-button-edit {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-left: 1px solid var(--white);
}

section {
    margin-bottom: 15px;
}