<div class="view-container">
    <span class="title-two">Mis Actividades</span>
    <div class="messages-container" style="margin: 5px;">
        <img src="assets/icons/messages/teacher.svg" alt="teacher-icon">
        <span class="text-body-heavy">A continuación encontrará el listado de actividades asignadas para el perido
            2024-2</span>
    </div>
    <p class="title-three">Listado de actividades asignadas para el periodo 2024-2</p>
    <activities-filter></activities-filter>
    <activities-table></activities-table>
    <activities-upload-self-assessment></activities-upload-self-assessment>

</div>
