<div class="view-container">
  <span class="title-two">Mis Actividades</span>
  <div class="messages-container" style="margin: 5px">
    <img src="assets/icons/messages/teacher.svg" alt="teacher-icon" />
    <span class="text-body-heavy"
      >A continuación, se presenta el listado de actividades asignadas para el periodo {{academicPeriod?.idPeriodo}}. Desde esta vista, podrá completar la información de la fuente 1 (Autoevaluación) y realizar el seguimiento del estado de la fuente 2.</span
    >
  </div>
  <div class="messages-container" style="margin: 5px">
    <img src="assets/icons/messages/teacher.svg" alt="teacher-icon" />
    <span class="text-body-heavy"
      >Tenga en cuenta que puede diligenciar la autoevaluación a través formulario 
      <img
      src="assets/icons/tables/icon-form.svg"
      alt="iconoformularion evaluación"
    /> 
    o, de manera masiva, subiendo el archivo de soporte de autoevaluación con la opción ubicada al final de la página <img
    src="assets/icons/buttons/go-icon-blue.svg"
    alt="iconoformularion evaluación"
    style="color: blue"
  />. </span
    >
  </div>
  <p class="title-three">
    Listado de actividades asignadas para el periodo {{academicPeriod?.idPeriodo}}
  </p>

  <!-- Sección filtro y tabla de actividades -->
  <section>
    <activities-filter></activities-filter>
    <activities-table [currentUser]="currentUser()"></activities-table>
  </section>

  <!-- Sección mensaje estado de la autoevaluación -->
  <span class="title-three">Cargar autoevaluación al sistema de manera masiva mediante archivo externo</span>

  <div class="mb-3"></div>
  <!-- Sección botones de autoevaluación -->
  <section style="width: 40%">
    <div class="buttons-container">
      <span class="title-three">Autoevaluación</span>
      <div class="buttons-actions">
        <button
          [ngClass]="{
            'button-fill-out': !checkActivitiesDiliegenciadoVar,
            ' button-fill-out-disabled': checkActivitiesDiliegenciadoVar
          }"
          class="button-actions"
          (click)="uploadSelfAssessment()"
          aria-label="Upload Self Assessment"
        ></button>
        <button
          [ngClass]="{
            'button-edit': checkActivitiesDiliegenciadoVar,
            'button-edit-disabled': !checkActivitiesDiliegenciadoVar
          }"
          id="activities-table-button-edit"
          class="button-actions"
          (click)="editSelfAssessment()"
          aria-label="Edit Self Assessment"
        ></button>
      </div>
    </div>
  </section>
</div>
<!-- Modal de carga de autoevaluación -->
<activities-upload-self-assessment
  [currentUser]="currentUser()"
></activities-upload-self-assessment>
<!-- Modal de edición de autoevaluación -->
<activities-edit-evaluation
  [currentUser]="currentUser()"
></activities-edit-evaluation>
