<div class="view-container">
    <span class="title-two">Mis Responsabilidades</span>
    <div class="messages-container" style="margin: 5px;">
        <img src="'assets/icons/messages/teacher.svg'" alt="teacher-icon">
        <span class="text-body-heavy">A continuación, se presenta el listado de responsabilidad asignadas para el periodo {{academicPeriod?.idPeriodo}}. Desde esta vista, podrá completa la información de la fuente 2.</span>
    </div>
    <responsibilities-filter></responsibilities-filter>
    <responsibilities-table [currentUser]="currentUser()"></responsibilities-table>
</div>
