.button-actions {
    width: 54px;
    height: 100%;
    border: none;
    padding: 0;
    display: flex;
    /* Añadir flexbox al botón */
    justify-content: center;
    /* Centrar horizontalmente */
    align-items: center;
    /* Centrar verticalmente */
}

.buttons-actions {
    display: flex;
    align-items: center;
    height: 100%;
}

.buttons-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    width: 100%;
    height: 64px;
    border: 1px solid var(--blue);
    padding-left: 20px;
}

.button-edit {
    background-image: url('../assets/icons/buttons/edit-icon.svg');
    background-size: 36px 36px !important;
    /* Ajusta el tamaño del SVG */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* Centrar la imagen */
    background-color: var(--blue);

}

.button-edit-disabled {
    background-image: url('../assets/icons/buttons/edit-icon.svg');
    background-size: 36px 36px !important;
    /* Ajusta el tamaño del SVG */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* Centrar la imagen */
    background-color: var(--Gray-background);
    pointer-events: none;
}

.button-fill-out {
    background-image: url('../assets/icons/buttons/go-icon.svg');
    background-size: 36px 36px !important;
    /* Ajusta el tamaño del SVG */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* Centrar la imagen */
    background-color: var(--blue);
}

.button-fill-out-disabled {
    background-image: url('../assets/icons/buttons/go-icon.svg');
    background-size: 36px 36px !important;
    /* Ajusta el tamaño del SVG */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* Centrar la imagen */
    background-color: var(--Gray-background);
    pointer-events: none;

}