/* Upload file input style */

.file-upload-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    width: 100%;
    height: 64px;
    border: 1px solid var(--blue);
}



.file-upload-label {
    display: flex;
    flex: 1;
    align-items: center;
    cursor: pointer;
    height: 100%;
    background-color: var(--white);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.file-details {
    margin-right: auto;
    height: 100%;
    width: 100%;
}

.file-title {
    padding-left: 26px;
    padding-top: 14px;
}

.file-name {
    position: relative;
    bottom: 21px;
    left: 26px;
}

.file-actions {
    display: flex;
    align-items: center;
    height: 100%;
}

.button-actions {
    width: 54px;
    height: 100%;
    border: none;
    padding: 0;
    display: flex; /* Añadir flexbox al botón */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

.button-upload {
    background-image: url('../assets/icons/buttons/upload-icon.svg');
    background-size: 36px 36px !important; /* Ajusta el tamaño del SVG */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; /* Centrar la imagen */
    background-color: var(--blue);
    pointer-events: all;
}    

.button-upload-error{ 
    background-image: url('../assets/icons/buttons/upload-icon.svg');
    background-size: 36px 36px !important; /* Ajusta el tamaño del SVG */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; /* Centrar la imagen */
    background-color: var(--red-light);
    pointer-events: all;
}

/* download file input style */


.button-download {
    border: none;
    z-index: 1;
    right: 0;
    width: 54px;
    height: 63px;
    border-radius: 0px 8px 8px 0px;
    background-color: var(--blue);
    background-image: url(../assets/icons/buttons/download-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
}    

.download-file-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    width: 100%;
    height: 64px;
    border: 1px solid var(--blue);
}    

.button-delete {
    background-image: url('../assets/icons/buttons/delete-icon.svg');
    background-size: 36px 36px !important; /* Ajusta el tamaño del SVG */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; /* Centrar la imagen */
    background-color: var(--blue);
    pointer-events: all;
}    

.download-file-label {
    margin: 15px;
    padding-top: 5px;
    flex: 1;
    align-items: center;
    cursor: pointer;
    height: 100%;
    background-color: var(--white);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}    


.evaluation {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    width: 128px;
    border-radius: 16px;
    border: 1px solid var(--blue);
    font-size: 25px;
    margin: 0px;
    text-align: center;
}   


.text-error {
    display: block;
    color: var(--red-light);
}

.observation {
    width: 100%;
    height: 100px;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 16px;
    border: 1px solid var(--blue);
    background: var(--white);
    outline: none;
}    

.button-modal {
    display: flex;
    width: 120px;
    height: 40px;
    padding: 26px;
    margin: 5px;
    border: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    background: var(--blue);
    color: #FFF;
}    

.modal-buttons {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}    


.input-nota {
    height: 64px;
    width: 128px;
    border-radius: 16px;
    border: 1px solid var(--blue);
    font-size: 25px;
    margin: 0px;
    text-align: center;
    outline: none;
}

.input-nota-error {
    height: 64px;
    width: 128px;
    border-radius: 16px;
    border: 1px solid var(--red-light);
    font-size: 25px;
    margin: 0px;
    text-align: center;
    outline: none;
    color: var(--red-light);
}

.input-nota-error {
    height: 64px;
    width: 128px;
    border-radius: 16px;
    border: 1px solid var(--red-light);
    font-size: 25px;
    margin: 0px;
    text-align: center;
}