<!-- Sección mensaje estado de la autoevaluación -->
<section id="self-assessment-message-section">
    <ng-container *ngIf="evaluationPendingVar; else allEvaluationsCompletedMessage">
        <div class="messages">
            <img src="assets/icons/messages/teacher.svg" alt="teacher-icon">
            <span class="text-body-regular">Seleccione esta opción si desea cargar la autoevaluación utilizando un
                formato
                externo.</span>
        </div>
    </ng-container>
    <ng-template #allEvaluationsCompletedMessage>
        <div class="messages-continter-green">
            <img src="assets/icons/messages/icon-check.svg" alt="teacher-icon">
            <span class="text-body-regular">Todas las autoevaluaciones han sido completadas.</span>
        </div>
    </ng-template>
</section>

<!-- Sección botón autoevaluación -->
<section id="button-self-assessment">
    <div class="button-radius">
        <p class="title-three no-margin">Autoevaluación</p>
        <button [ngClass]="{'button': evaluationPendingVar==true,
                            'button-disabled': evaluationPendingVar==false
        }" id="btnUploadFile" (click)="openModal()">
            <img src="assets/icons/buttons/go-icon.svg">
        </button>
    </div>
</section>



<!-- Sección modal de carga de soporte autoevaluación -->
<section id="self-assessmet-modal">
    <ng-container *ngIf="evaluationPendingVar==true">
        <div id="myModalUploadFile" class="modal">
            <div class="modal-content">
                <p class="title-three">Carga de soporte autoevaluación</p>
                <div class="line"></div>
                <!--Sección mensaje informativo -->
                <section id="information-message">
                    <div class="message-container row">
                        <div class="col-1">
                            <img class="img-container" src="assets/icons/messages/icon-info.svg" alt="">
                        </div>
                        <div class="col">
                            <p class="text-body-regular ">Por favor, ingrese la evaluación de sus actividades. Asegúrese
                                de que la
                                evaluación coincida con la información del documento de soporte que desea cargar.</p>
                        </div>
                    </div>
                </section>

                <!-- Sección diligenciamiento de la evaluación -->
                <section id="assessment-fill-out">
                    <p class="title-three">Actividad y evaluación</p>
                    <div class="message-container row">
                        <div class="col-1">
                            <img src="assets/icons/messages/icon-info.svg" alt="">
                        </div>
                        <div class="col">
                            <p class="text-body-regular ">Asegurese que la evaluación ingresada sea la misma que se
                                encuentra en el soporte</p>
                        </div>
                    </div>
                    <div class="table-responsive table-responsive-custom">
                        <table class="upload-table">
                            <thead>
                                <tr>
                                    <th>
                                        <span class="text-body-heavy ">
                                            Actividad
                                        </span>
                                    </th>
                                    <th>
                                        <span class="text-body-heavy">Calificación</span>
                                    </th>
                                    <th>
                                        <span class="text-body-heavy">Informe</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let activitie of userActivities; let i = index">
                                    <td>
                                        <span class="text-body-small-r">{{activitie.codigoActividad}}</span>
                                    </td>
                                    <td>
                                        <input id="input-evaluation" [ngClass]="{'input-evaluation-error text-body-regular': errorCalificacion==true && indexSelected==i,
                                        
                                        }" class="input-evaluation text-body-regular" placeholder="0-100"
                                            (input)="updateEvaluation($event,activitie)">
                                        <img src="assets/icons/tables/icon-pen-modal.svg" alt="icon-pen-modal">
                                    </td>

                                    <ng-container *ngIf="activitie.informeEjecutivo; else noReport">
                                        <ng-container  *ngIf="!activitie.fuentes[0].informeEjecutivo; else viewReportUploaded">
                                            <td  class="center-text">
                                                <img src="assets/icons/tables/icon-upload.svg" alt=""
                                                    (click)="triggerReportFileUpload(activitie)" style="cursor: pointer;">
                                                <input type="file" id="uploadFileReport"
                                                    (change)="onRepportFileSelected($event)" hidden>
                                            </td>
                                        </ng-container>
                                        <ng-template #viewReportUploaded>
                                            <td class="center-text">
                                                <img src="assets/icons/tables/icon-view.svg" alt="" (click)="downloadReportFile(activitie)" style="cursor: pointer;">
                                                <img src="assets/icons/tables/icon-trash.svg" alt="" (click)="deleteReportFile(activitie)" >
                                            </td>
                                        </ng-template>
                                    </ng-container>

                                    <ng-template #noReport>
                                        <td class="center-text">
                                            <span>N/A</span>
                                        </td>
                                    </ng-template>

                                </tr>
                            </tbody>
                        </table>
                        <span [ngClass]="{
                            'text' : errorCalificacion==true,
                            'text-display text-body-regular-small-r': errorCalificacion==false
                        }">Valores permitidos 0-100</span>
                        <span [ngClass]="{
                            'text-error text-body-text-body-small-r' : errorCalificacion==true,
                            'text' : errorCalificacion == false
                        }">La nota debe estar entre 0 y 100</span>
                    </div>
                </section>
                <!-- Sección de carga de archivos -->
                <section id="upload-file-asessment">
                    <div class="file-upload-container">
                        <label for="uploadFileAssessment" class="file-upload-label">
                            <div class="file-details">
                                <p class="file-title text-body-small-sb">
                                    Soporte
                                </p>
                                <p class="file-name text-body-small-r">
                                    {{fileNameSelected()? fileNameSelected() : 'Seleccione un archivo'}}
                                </p>
                            </div>
                            <input type="file" id="uploadFileAssessment" (change)="onSupportFileSelected($event)" hidden>
                        </label>
                        <div class="file-actions">
                            <button class="button-upload button-actions button-border-radius"
                                (click)="triggerSupportFileUpload()"></button>
                        </div>
                    </div>
                    <span [ngClass]="{
                        'text-error text-body-text-body-small-r' : errorMessageFile!='',
                        'text' : errorMessageFile===''
                    }">El formato no es permitido </span>
                </section>
                <!-- Sección de observaciones-->
                <section id="comments-self-assessment">
                    <span class="title-three">Observaciones</span>
                    <input class="input-text text-body-regular" type="text" placeholder="Ingrese sus observaciones"
                        [(ngModel)]="observacionSend">
                </section>
                <!-- Sección de botonoes-->
                <section id="button-self-assessment">
                    <div class="modal-buttons">
                        <button class="button-modal text-body-heavy" (click)="closeModal()">
                            Cerrar
                        </button>
                        <button class="button-modal text-body-heavy" (click)="saveEvaluation()">
                            Guardar
                        </button>
                    </div>
                </section>
            </div>
        </div>
    </ng-container>
</section>