.btn-custom-normal {
    height: 35px;
    width: 100px;

}

.button-radius {
    display: flex;
    width: 303px;
    height: 64px;
    border: none;
    padding-left: 29px;
    align-items: center;
    vertical-align: middle;
    gap: 22px;
    border-radius: 8px;
    border: 1px solid var(--blue);
    background: var(--white);
    display: flex;
    justify-content: space-between;
}


.input-evaluation {
    width: 85%;
    height: 20px;
    margin: 50px;
    border-radius: 0px;
    border: none;
    padding: 16px !important;
    outline: none;
    font-size: 24px !important;
}

.input-evaluation-disabled{
    color: var(--neutral-60) !important;
    background-color: var(--neutral-95) !important;
    border-color: var(--neutral-95) !important;
    pointer-events: none;
}

.input-evaluation-error {
    width: 80%;
    height: 63px;
    margin: 50px;
    border-radius: 0px;
    border: none;
    padding: 16px !important;
    outline: none;
    font-size: 24px !important;
    color: var(--red-light);

}

td {
    max-width: 100px;
}

.no-margin {
    margin: 0px;
}

.input-evaluation:focus {
    border: none;
}

.input-text {
    width: 100%;
    height: 100px;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 16px;
    border: 1px solid var(--blue);
    background: var(--white);
    outline: none;
}


.input-text:focus {
    border: 3px solid var(--blue);
}

table{
    border-style: none !important ;
    box-shadow: none !important;
    border-radius: 0px !important;
    border-color: 1px var(--blue) !important;
}


.text-error {
    display: block;
    color: var(--red-light);
}



.text {
    display: none;
}

.text-error {
    display: block;
    color: var(--red-light);
}

.text-display {
    display: block;
}

.text {
    display: none;
}


.spacing {
    margin-bottom: 20px;
}

section {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}


.table-responsive-custom {
    width: 100% !important;
    max-height: 380px !important;
}

#input-evaluation {
    padding: 0px;
    margin: 0px;
}

.center-text {
    text-align: center;
}

.button-border-radius {
    border-radius: 0px 8px 8px 0px;
}

#input-evaluation-edit {
    padding: 0px;
    margin: 0px;
  }