<div class="line-filter"></div>

<div class="row">
    <div class="col-1" style="width: 50px;">
        <img src="assets/icons/tables/icon-filter.svg" alt="">
    </div>
    <div class="col">
        <form [formGroup]="formFilter" (ngSubmit)="searchUsers()">
            <div class="row row-cols-auto">
                <div class="col m-1">
                    <input type="text" id="nameUser" class="input-normal-filter" placeholder="Nombre de usuario" formControlName="nameUser">
                </div>
                <div class="col m-1">
                    <input type="text" id="nameUser" class="input-normal-filter" placeholder="Identificación" formControlName="identification">
                </div>
                <div class="col m-1">
                    <select class="input-select-filter" formControlName="faculty">
                        <option [value]="''" selected>Facultad</option>
                        <option *ngFor="let facultad of catalogData?.facultades" value="{{facultad.codigo}}">
                            {{facultad.nombre | titlecase}}
                        </option>
                    </select>
                </div>
                <div class="col m-1">
                    <select class="input-select-filter" formControlName="program">
                        <option [value]="''" selected>Departamento</option>
                        <option *ngFor="let program of catalogData?.departamentos" value="{{program.codigo}}">
                            {{program.nombre | titlecase}}
                        </option>
                    </select>
                </div>
                <div class="col m-1">
                    <select class="input-select-filter" formControlName="rol">
                        <option [value]="''" selected>Rol</option>
                        <option *ngFor="let rol of catalogData?.roles" value="{{rol.codigo}}">
                            {{rol.nombre | titlecase}}
                        </option>
                    </select>
                </div>
                <div class="col m-1">
                    <select class="input-select-filter" formControlName="state">
                        <option [value]="''" selected>Estado</option>
                        <option *ngFor="let option of stateOptions" value="{{option.value}}">
                            {{option.text}}
                        </option>
                    </select>
                </div>
                <div class="col mt-1" >
                    <button class="button-normal" type="submit">Buscar</button>
                </div>
                <div class="col mt-1">
                    <button class="button-normal" (click)="clearFilter()">Limpiar</button>
                </div>

            </div>
        </form>
    </div>
</div>



<div class="line-filter"></div>