<div class="actividad-container">
  <nav class="sub-tabs mb-4">
    <div class="sub-tabs-wrapper">
      <button
        *ngFor="let tab of subTabs"
        type="button"
        class="sub-tab-item"
        [class.active]="subTabActiva() === tab.id"
        (click)="seleccionarSubTab(tab.id)"
      >
        <i class="fas {{ tab.icon }} me-2"></i>
        {{ tab.label }}
      </button>
    </div>
  </nav>

  <div class="sub-tab-content">
    <app-docencia-directa
      *ngIf="subTabActiva() === 'docencia-directa'"
    ></app-docencia-directa>
    <app-trabajos-docencia
      *ngIf="subTabActiva() === 'trabajos-docencia'"
    ></app-trabajos-docencia>
  </div>
</div>
