.modal {
    display: nonea;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content {
    margin: auto;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #888;
    width: 638px;
    height: 790px;
    align-items:flex-start;
    border-radius: 16px;
    text-align: left;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.button-upload {
    border: none;
    background-color: var(--white);
}

.line {
    position: absolute;
    left: -0.02px;
    top: 56.031px;
    width: 725.031px;
    height: 0px;
    stroke-width: 1px;
    border: 1px solid rgba(134, 135, 143, 0.70);
}

.input-text-observation {
    width: 100%;
    height: 100px;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 16px;
    border: 1px solid var(--blue);
    background: var(--white);
    outline: none;
}

.input-text-observation:focus {
    border: 3px solid var(--blue);
}

.button-modal {
    display: flex;
    width: 120px;
    height: 40px;
    margin-left: 5px;
    margin-right: 5px;
    border: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    background: var(--blue);
    color: #FFF;
}

.modal-buttons {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.input-nota {
    height: 64px;
    width: 128px;
    border-radius: 16px;
    border: 1px solid var(--blue);
    font-size: 25px;
    margin: 0px;
    text-align: center;
}

.input-nota-error {
    height: 64px;
    width: 128px;
    border-radius: 16px;
    border: 2px solid var(--red-light);
    font-size: 25px;
    color: var(--red-light);
    margin: 0px;
    text-align: center;
}

.text-error{
    display: block;
    color: var(--red-light);
}

.text-display {
    display: block;
}

.text{
    display: none;
}

section{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}