<ng-container *ngIf="!activities?.empty; else nullData">
  <table class="table-bordered">
    <thead>
      <tr>
        <th class="text-body-heavy text-center">{{ headDataTable[0] }}</th>
        <th class="text-body-heavy text-center" colspan="2">
          {{ headDataTable[1] }}
        </th>
        <th class="text-body-heavy text-center" colspan="4">
          {{ headDataTable[2] }}
        </th>
      </tr>
      <tr>
        <th class="text-body-regular" *ngFor="let item of subHeadDataTable">
          <span>{{ item }}</span>
        </th>
      </tr>
    </thead>
    <tbody *ngFor="let activity of activitiesByType">
      <tr class="text-body-heavy text-center">
        <td colspan="7">
          {{ activity.nombreType }}
        </td>
      </tr>
      <tr *ngFor="let activity of activity.activities">
        <td>
          <span class="text-body-regular">{{ activity.nombreActividad }}</span>
        </td>
        <td>
          <span class="text-body-regular" *ngIf="!activity.fuentes[0]"
            >Pendiente</span
          >
          <span class="text-body-regular" *ngIf="activity.fuentes[0]">{{
            activity.fuentes[0].estadoFuente
          }}</span>
        </td>

        <td class="text-center text-body-regular">
          <button
            class="button-table"
            *ngIf="
              activity.fuentes[0] &&
              activity.fuentes[0].estadoFuente == 'DILIGENCIADO' &&
              activity.fuentes[0].tipoCalificacion == 'DOCUMENTO'
            "
            (click)="openModalView(activity, 1)"
          >
            <img src="'assets/icons/tables/icon-view.svg'" alt="Ver actividad" />
          </button>
          <button
            class="button-table"
            *ngIf="
              activity.fuentes[0] &&
              activity.fuentes[0].estadoFuente == 'DILIGENCIADO' &&
              activity.fuentes[0].tipoCalificacion == 'EN_LINEA'
            "
            (click)="openSelfEvaluationReviewForm(activity.fuentes[0].oidFuente)"
          >
            <img
              src="'assets/icons/tables/icon-view.svg'"
              alt="iconoformularion evaluación"
              title="Formulario de evalución"
            />
          </button>
          <button
            class="button-table"
            *ngIf="
              activity.fuentes[0] &&
              activity.fuentes[0].estadoFuente == 'DILIGENCIADO' &&
              activity.fuentes[0].tipoCalificacion == 'EN_LINEA'
            "
            (click)="openEditFormEvaluation(activity.fuentes[0].oidFuente)"
          >
            <img
              src="'assets/icons/tables/icon-pen.svg'"
              alt="iconoformularion evaluación"
              title="Formulario de evalución"
            />
          </button>
          <activities-view-evaluation
            *ngIf="
              openModalViewSelected &&
              activitySelected === activity &&
              sourceSelected == 1
            "
            [source]="activity.fuentes[sourceSelected! - 1]"
            [activity]="activity"
            [openModalSelected]="true"
            (closeModalSelected)="closeModalView($event)"
          ></activities-view-evaluation>
          <button
            *ngIf="
              activity.fuentes[0] &&
              activity.fuentes[0].estadoFuente == 'PENDIENTE'
            "
            class="button-table"
            (click)="openFormEvaluation(activity.oidActividad)"
          >
            <img
              src="'assets/icons/tables/icon-form.svg'"
              alt="iconoformularion evaluación"
              title="Formulario de evalución"
            />
          </button>
        </td>
        <td>
          <span class="text-body-regular"
            >{{ activity.evaluador.nombres }}
            {{ activity.evaluador.apellidos }}</span
          >
        </td>
        <td>
          <span class="text-body-regular" *ngIf="activity.evaluador.roles[0]">{{
            activity.evaluador.roles[0].nombre
          }}</span>
        </td>
        <td>
          <span class="text-body-regular" *ngIf="!activity.fuentes[1]"
            >Pendiente</span
          >
          <span class="text-body-regular" *ngIf="activity.fuentes[1]">{{
            activity.fuentes[1].estadoFuente
          }}</span>
        </td>
        <td class="text-center text-body-regular">
          <button
            class="button-table"
            *ngIf="
              activity.fuentes[1] &&
              activity.fuentes[1].estadoFuente == 'DILIGENCIADO'
            "
            (click)="openModalView(activity, 2)"
          >
            <img src="'assets/icons/tables/icon-view.svg'" alt="Ver actividad" />
          </button>
          <activities-view-evaluation
            *ngIf="
              openModalViewSelected &&
              activitySelected === activity &&
              sourceSelected == 2
            "
            [source]="activity.fuentes[sourceSelected! - 1]"
            [activity]="activity"
            [openModalSelected]="true"
            (closeModalSelected)="closeModalView($event)"
          ></activities-view-evaluation>
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>

<ng-template #nullData>
  <table class="table-bordered">
    <thead>
      <tr>
        <th class="text-body-heavy text-center">{{ headDataTable[0] }}</th>
        <th class="text-body-heavy text-center" colspan="2">
          {{ headDataTable[1] }}
        </th>
        <th class="text-body-heavy text-center" colspan="4">
          {{ headDataTable[2] }}
        </th>
      </tr>
      <tr>
        <th class="text-body-regular" *ngFor="let item of subHeadDataTable">
          <span>{{ item }}</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-body-regular text-center">
        <th colspan="7">No cuenta con actividades registradas</th>
      </tr>
    </tbody>
  </table>
</ng-template>

<div class="mb-3"></div>

<shared-paginator
  class="d-flex justify-content-center"
  [currentPage]="currentPage"
  [totalPages]="activities?.totalPages || 1"
  (pageChange)="pageChanged($event)"
></shared-paginator>

<self-evaluation-review-modal></self-evaluation-review-modal>