
<ng-container *ngIf="activities?.length; else nullData">
    <table>
        <thead>
            <tr>
                <th class="text-body-heavy center-text"> {{headDataTable[0]}} </th>
                <th class="text-body-heavy center-text" colspan="2"> {{headDataTable[1]}} </th>
                <th class="text-body-heavy center-text" colspan="4"> {{headDataTable[2]}} </th>
            </tr>
            <tr>
                <th class="text-body-regular" *ngFor="let item of subHeadDataTable">
                    <span>{{item}}</span>
                </th>
            </tr>
        </thead>
        <tbody *ngFor="let type of activitiesByType">
            <tr class="text-body-heavy center-text">
                <td colspan="7">
                    {{type.nombreType}}
                </td>
            </tr>
            <tr class="text-body-small-r" *ngFor="let activity of type.activities">
                <td>
                    {{activity.nombre}}
                </td>

                <td>
                    {{activity.fuentes[0].tipoFuente == '1' ? activity.fuentes[0].estadoFuente : activity.fuentes[1].estadoFuente}}
                </td>
                <td class="center-text">
                    <button class="button-table" *ngIf=" activity.fuentes[0].estadoFuente == 'Diligenciado'" (click)="openModal(activity,1)">
                        <img src="assets/icons/tables/icon-view.svg" alt="">
                    </button>
                    <!-- <support-management-download-file *ngIf="openModalSelected && activitySelected === activity && sourceSelected==1" [fuente]="activity.fuentes[sourceSelected!-1]" [activity]="activity" [openModalSelected]="true" (closeModalSelected)="closeModal($event)"></support-management-download-file> -->
                    <a>
                        <img *ngIf="activity.fuentes[0].estadoFuente == 'Pendiente firma'" src="assets/icons/tables/icon-view.svg" alt="View pendiente firma">
                    </a>
                </td>
                <td>
                    {{activity.evaluador.nombres}} {{activity.evaluador.apellidos}}
                </td>
                <td>
                    {{activity.evaluador.roles[0].nombre}}
                </td>
                <td>
                    {{activity.fuentes[1].tipoFuente == '2' ? activity.fuentes[1].estadoFuente : activity.fuentes[0].estadoFuente}}
                </td>
                <td class="center-text">
                    <button class="button-table" *ngIf=" activity.fuentes[1].estadoFuente == 'Diligenciado'" (click)="openModal(activity,2)">
                        <img src="assets/icons/tables/icon-view.svg" alt="">
                    </button>
                    <!-- <support-management-download-file *ngIf="openModalSelected && activitySelected === activity && sourceSelected==2" [fuente]="activity.fuentes[sourceSelected!-1]" [activity]="activity" [openModalSelected]="true" (closeModalSelected)="closeModal($event)"></support-management-download-file> -->
                </td>
            </tr>
        </tbody>
    </table>
</ng-container>

<ng-template #nullData>
    <table>
        <thead>
            <tr>
                <th class="text-body-heavy"> {{headDataTable[0]}} </th>
                <th class="text-body-heavy" colspan="2"> {{headDataTable[1]}} </th>
                <th class="text-body-heavy" colspan="4"> {{headDataTable[2]}} </th>
            </tr>
            <tr>
                <th class="text-body-regular" *ngFor="let item of subHeadDataTable">
                    <span>{{item}}</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-body-regular center-text">
                <th colspan="7">
                    No cuenta con actividades registradas
                </th>
            </tr>
        </tbody>
    </table>
</ng-template>


