<aside id="sidebar">
    <div class="sidebar-container text-light">
        <div class="image-container">
            <img src="assets/images/logo-unicauca.svg" alt="Logo Unicauca">
        </div>
        <div class="container-line">
            <div class="line"></div>
        </div>
    </div>

    <ul class="sidebar-nav">
        <li class="sidebar-item" *ngFor="let item of sidebarItems">
            <a class="sidebar-link menu-one text-nowrap collapse">
                <img src='{{item.icon}}' alt="icon-evaluation">
                <span class="text-body-heavy mx-3">{{item.label}}</span>
            </a>
            <ul class="list-unstyled collapsed" *ngFor="let itemList of item.sub ">
                <li class="sidebar-item">
                    <a routerLink="{{itemList.url}}" class="sidebar-link collapse text-body-item menu-two">
                        {{itemList.label}}
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</aside>