<ng-container *ngIf="isSidebarActive; else noActive">
    <aside id="sidebar" [class.active]="isSidebarActive">
        <div class="sidebar-container text-light">
            <div class="image-container">
                <img src="assets/images/logo-unicauca.svg" alt="Logo Unicauca">
            </div>
            <div class="container-line">
                <div class="line"></div>
            </div>
        </div>

        <ul class="sidebar-nav">
            <li class="sidebar-item ">
                
                <a class="sidebar-link menu-one" routerLink="/app/home">
                    <img src='assets/icons/sidebar/icon-home.svg' alt="icon-evaluation">
                    <span class="text-body-heavy mx-3">inicio</span>
                </a>
            </li>
            <ng-container  *ngFor="let item of sidebarItems">
            <li class="sidebar-item" *ngIf="hasRole(item.role? item.role : [])">
                <a class="sidebar-link menu-one text-nowrap collapse" *ngIf="hasRole(item.role? item.role : [])" (click)="toggleAction(item.label)">
                    <img src='{{item.icon}}' alt="icon-evaluation">
                    <span class="text-body-heavy mx-3">{{item.label}}</span>
                </a>
                <ul class="sidebar-dropdown list-unstyled" *ngFor="let itemList of item.sub" [ngClass]="{'expanded': !isToggle(item.label)}">
                    <li class="sidebar-item">
                        <a routerLink="{{itemList.url}}" class="sidebar-link collapse text-body-item menu-two" *ngIf="hasRole(itemList.role? itemList.role : [])">
                            {{itemList.label}}
                        </a>
                    </li>
                </ul>
            </li>
        </ng-container>

        </ul>
    </aside>
</ng-container>
<!-- 
<ng-container *ngIf="isSidebarActive; else noActive">
    <aside id="sidebar" [class.active]="isSidebarActive">
        <div class="sidebar-container text-light">
            <div class="image-container">
                <img src="assets/images/logo-unicauca.svg" alt="Logo Unicauca">
            </div>
            <div class="container-line">
                <div class="line"></div>
            </div>
        </div>

        <ul class="sidebar-nav">
            <li class="sidebar-item ">
                
                <a class="sidebar-link menu-one" routerLink="/app/home">
                    <img src='assets/icons/sidebar/icon-home.svg' alt="icon-evaluation">
                    <span class="text-body-heavy mx-3">inicio</span>
                </a>
            </li>
            <li class="sidebar-item" *ngFor="let item of sidebarItems">
                <a class="sidebar-link menu-one text-nowrap collapse" (click)="toggleAction(item.label)">
                    <img src='{{item.icon}}' alt="icon-evaluation">
                    <span class="text-body-heavy mx-3">{{item.label}}</span>
                </a>
                <ul class="sidebar-dropdown list-unstyled" *ngFor="let itemList of item.sub" [ngClass]="{'expanded': !isToggle(item.label)}">
                    <li class="sidebar-item">
                        <a routerLink="{{itemList.url}}" class="sidebar-link collapse text-body-item menu-two">
                            {{itemList.label}}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </aside>
</ng-container> -->


<ng-template #noActive>
    <aside id="sidebar-toggle" [class.active]="!isSidebarActive">

    </aside>
</ng-template>


<div class="nav-container" [class.is-active]="isSidebarActive" (click)="toggleSidebar()">
    <div class="nav-toggle"></div>
</div>