.sidebar-container {
  background-color: var(--blue);
  padding-top: 19px;
}

.image-container {
  align-items: center;
  text-align: center;
  display: flex;
  padding-left: 40px;
}



.title-menu {
  font-family: "myGaramond";
  font-size: 16px;
}

#sidebar {
  width: 250px;
  height: 100vh;
  background-color: var(--blue);
  flex-direction: column;
  transition: left 0.3s ease;
}


#sidebar-toggle {
  display: none;
  width: 50px;
  height: 100vh;
  background-color: var(--blue);
  flex-direction: column;
}

#sidebar-toggle.active {
  display: flex;
}

#sidebar.active {
  left: 0;
  position:static;
}
.nav-container {
  display: none;
  position: fixed;
  align-items: center;
  top: 25px;
  left: 10px;
  z-index: 1;
  height: 50px; /* Aumenta el tamaño del contenedor */
  cursor: pointer; /* Añade un cursor de puntero */
}

.nav-toggle {
  width: 30px;
  height: 3px;
  position: relative;
  background-color: var(--neutral-95);
  transition: all 0.3s ease;
  z-index: 1;
  
}


.container-line {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
}

.line {
  height: 2px;
  background-color: var(--red-light);
  width: 250px;
}

.sidebar-nav {
  text-decoration: none;
  padding-top: 32px;
  padding-left: 0px;
}

.text-body-heavy {
  color: var(--neutral-95);
}

.text-body-item {
  color: var(--neutral-95);
  font-family: "FiraSans-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sidebar-link {
  display: block;
}

a {
  text-decoration: none;
}

.menu-one {
  padding-left: 36px;
  padding-right: 38px;
  padding-top: 12px;
  padding-bottom: 12px;
  height: 50px;
  cursor: pointer !important;
}

.menu-two {
  padding-left: 86px;
  padding-right: 38px;
  padding-top: 12px;
  padding-bottom: 12px;
  cursor: pointer !important;
}

.menu-two:hover {
  background-color: var(--blue-60);
}


.nav-toggle:before,
.nav-toggle:after {
  content: "";
  width: 30px;
  height: 3px;
  background-color: var(--neutral-95);
  position: absolute;
  transition: all 0.3s ease;
}

.nav-toggle:before {
  top: -10px;
}

.nav-toggle:after {
  top: 10px;
}

.nav-container.is-active .nav-toggle {
  background-color: transparent !important;
}

.nav-container.is-active .nav-toggle:before {
  transform: rotate(45deg) !important;
  top: 0px;

}

.nav-container.is-active .nav-toggle:after {
  transform: rotate(-45deg) !important;
  top: 0px;
}

.nav-container.is-active {
  left: 200px;
}

@media(max-width: 1280px){


  #sidebar{
    left: -250px;
    position: fixed;
  }

  .nav-container{
    display: flex;

  }
  
}