<div class="line"></div>

<div class="row">
    <div class="col-5" style="width: 50px">
        <img src="assets/icons/tables/icon-filter.svg" alt="filters">
    </div>

    <div class="col">
        <div class="row row-cols-auto">
            <!-- Activitie filter -->
            <div class="col" style="margin: 1px;">
                <input type="text" id="activity" class="button-main" placeholder="Nombre docente">
            </div>
            <!-- Type Contract filter -->
            <div class="col" style="margin: 1px">
                <div class="dropdown">
                    <button class="dropbtn">
                        <span>{{valueContractType}}</span>
                        <img src="assets\icons\tables\icon-down.svg" alt="">
                    </button>
                    <div class="dropdown-content">
                        <div *ngFor="let opcion of contractType">
                            <a *ngIf="opcion.valor!='default'" href="#"
                                (click)="seleccionarOpcionState($event, opcion)">
                                <span class="text-body-small-r">{{ opcion.texto }}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- state filter -->

            <div class="col" style="margin: 1px">
                <div class="dropdown">
                    <button class="dropbtn">
                        <span>{{valueState}}</span>
                        <img src="assets\icons\tables\icon-down.svg" alt="">
                    </button>
                    <div class="dropdown-content">
                        <div *ngFor="let opcion of states">
                            <a *ngIf="opcion.valor!='default'" href="#"
                                (click)="seleccionarOpcionState($event, opcion)">
                                <span class="text-body-small-r">{{ opcion.texto }}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="row">
                    <button class="clearButton col" (click)="filterAction()">
                        <span style="color: var(--white);">Buscar</span>
                    </button>
                    <button class="clearButton col" (click)="clearAction()">
                        <span style="color: var(--white);">Limpiar</span>
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="line"></div>