<div class="view-container">
    <div class="title-two">Docentes</div>
    <div class="messages-container" style="margin: 5px;">
        <img src="'assets/icons/messages/teacher.svg'" alt="teacher-icon">
        <span class="text-body-heavy">A continuación, encontrará la lista de docentes activos para el registro de actividades.</span>
    </div>
    <div class="mb-3"></div>
    <user-management-activities-users-filter></user-management-activities-users-filter>
    <user-management-activities-users-table></user-management-activities-users-table>
</div>
