<div class="line-filter"></div>

<form [formGroup]="formFilter" (ngSubmit)="searchActivities()">
    <div class="row">
        <div class="col-1" style="width: 50px;">
            <img [src]="'assets/icons/tables/icon-filter.svg'" alt="">
        </div>
        <div class="col">
            <div class="row row-cols-auto">
                <!-- Tipo de actividad -->
                <div class="col m-1">
                    <select class="input-select-filter" formControlName="activityType">
                        <option [value]="''" selected>Tipo de actividad</option>
                        <option *ngFor="let option of catalogDataResponse?.tipoActividades" value="{{option.codigo}}">
                            {{option.nombre | titlecase}}
                        </option>
                    </select>
                </div>
                <!-- Nombre de la actividad -->
                <div class="col m-1">
                    <input type="text" id="nameUser" class="input-normal-filter" placeholder="Nombre actividad"
                        formControlName="activityName">
                </div>
                <!-- Nombre evaluador -->
                <div class="col m-1">
                    <input type="text" id="nameUser" class="input-normal-filter" placeholder="Nombre evaluador" formControlName="evaluatorName">  
                </div>
                <!-- Rol evaluador -->
                <div class="col m-1">
                    <select class="input-select-filter" formControlName="evaluatorRole">
                        <option [value]="''" selected>Rol evaluador</option>
                        <option *ngFor="let rol of catalogDataResponse?.roles" value="{{rol.codigo}}">
                            {{rol.nombre | titlecase}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row row-cols-auto">
                <div class="col">
                    <button type="submit" class="button-normal">Buscar</button>
                </div>
                <div class="col">
                    <button class="button-normal" (click)="clearFilter()">Limpiar</button>
                </div>
            </div>

        </div>
    </div>
</form>



<div class="line-filter"></div>