<div class="modal" id="approve-consolidated-confirm-modal">
    <div class="modal-content">
        <div class="row">
            <div class="col-2">
                <img src="/assets/icons/messages/icon-info.svg" alt="">
            </div>
            <div class="col">
                <div class="title-three">Aprobar consolidado</div>

            </div>
        </div>
        <div class="line"></div>
        <section>
            <p class="text-body-regular">
                Recuerde que esta acción generará un consolidado que no podrá ser modificado a menos que desee generar
                uno nuevo ¿Desea continuar?
            </p>
        </section>
        <section>
            <div class="modal-buttons">
                <button class="button-modal text-body-heavy" (click)="closeModal()">
                    Cerrar
                </button>
                <button class="button-modal text-body-heavy" (click)="confirm()">
                    Enviar
                </button>
            </div>
        </section>
    </div>
</div>