.btn-custom-normal {
  height: 35px;
  width: 100px;

}

section {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.button-radius-custom {
  border-radius: 0px;
  border-right: 1px solid var(--white);
}

.text-error {
  display: block;
  color: var(--red-light);
}

.text-display {
  display: block;
}

.text {
  display: none;
}

.button-border-radius {
  border-radius: 0px 8px 8px 0px;
}

table{
  border-style: none !important ;
  box-shadow: none !important;
  border-radius: 0px !important;
  border-color: 1px var(--blue) !important;
}

.input-evaluation {
  width: 85%;
  height: 20px;
  margin: 50px;
  border-radius: 0px;
  border: none;
  padding: 16px !important;
  outline: none;
  font-size: 24px !important;
}

.table-responsive-custom {
  width: 100% !important;
  max-height: 380px !important;
}

#input-evaluation-edit {
  padding: 0px;
  margin: 0px;
}

.input-evaluation-disabled{
  color: var(--neutral-60) !important;
  background-color: var(--neutral-95) !important;
  border-color: var(--neutral-95) !important;
  pointer-events: none;
}