<!-- <shared-loading-overley [isLoading]="isLoading"></shared-loading-overley> -->
<div class="view-container">
  <header class="title-two">Calendario académico</header>

  <section class="messages-container">
    <img [src]="'assets/icons/messages/teacher.svg'" alt="teacher icon" />
    <span class="text-body-heavy">
      A continuación encontrará el calendario académico vigente y el historial
      de calendarios académicos.
    </span>
  </section>

  <div class="mb-3"></div>

  <section>
    <header class="title-three">Calendario académico vigente</header>

    <table class="table-bordered">
      <thead>
        <tr>
          <th class="text-body-heavy">Acuerdo académico</th>
          <th class="text-body-heavy">Id. Calendario académico</th>
          <th class="text-body-heavy">Año</th>
          <th class="text-body-heavy">Periodo</th>
          <th class="text-body-heavy">Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody *ngIf="calendarioVigente; else noData">
        <tr>
          <td>{{ calendarioVigente.acuerdoAcademico }}</td>
          <td>{{ calendarioVigente.id }}</td>
          <td>{{ calendarioVigente.anio }}</td>
          <td>{{ calendarioVigente.periodo }}</td>
          <td>{{ calendarioVigente.estado }}</td>
          <td class="text-center">
            <!-- Editar -->
            <a
              [routerLink]="['/app/calendarios/editar', calendarioVigente.id]"
              class="mx-1"
              title="Editar calendario"
            >
              <i class="fas fa-pen text-primary" style="cursor: pointer"></i>
            </a>

            <!-- Ver -->
            <a
              [routerLink]="['/app/calendarios/ver', calendarioVigente.id]"
              class="mx-1"
              title="Ver calendario"
            >
              <i class="fas fa-eye text-success" style="cursor: pointer"></i>
            </a>

            <!-- Eliminar -->
            <a
              [routerLink]="['/app/calendarios/eliminar', calendarioVigente.id]"
              class="mx-1"
              title="Eliminar calendario"
            >
              <i class="fas fa-trash text-danger" style="cursor: pointer"></i>
            </a>
          </td>
        </tr>
      </tbody>
      <ng-template #noData>
        <tbody>
          <tr>
            <td colspan="6" class="text-center text-body-regular">
              No hay periodos académicos vigentes
            </td>
          </tr>
        </tbody>
      </ng-template>
    </table>
  </section>
  <section class="messages-container">
    <img [src]="'assets/icons/messages/teacher.svg'" alt="teacher icon" />
    <span class="text-body-heavy">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate
      voluptatibus ea corporis perspiciatis dolorem nulla temporibus sit, itaque
      labore eius error totam similique porro nesciunt, molestias sed vero
      numquam soluta.
    </span>
  </section>
  <div class="mb-3"></div>
  <div class="row row-cols-auto d-flex justify-content-center">
    <div class="col">
      <div>
        <button [routerLink]="['crear']" class="button-normal-large">
          Crear calendario
        </button>
      </div>
    </div>
  </div>

  <div class="mb-3"></div>

  <section>
    <header class="title-three">Historial de calendarios académicos</header>

    <table class="table-bordered">
      <thead>
        <tr>
          <th class="text-body-heavy">Acuerdo académico</th>
          <th class="text-body-heavy">Id. Calendario académico</th>
          <th class="text-body-heavy">Año</th>
          <th class="text-body-heavy">Periodo</th>
          <th class="text-body-heavy">Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <ng-container
        *ngIf="historialCalendarios.length > 0; else noPeriodsHistory"
      >
        <tbody>
          <tr *ngFor="let calendario of historialCalendarios">
            <td>{{ calendario.acuerdoAcademico }}</td>
            <td>{{ calendario.id }}</td>
            <td>{{ calendario.anio }}</td>
            <td>{{ calendario.periodo }}</td>
            <td>{{ calendario.estado }}</td>
            <td class="text-center">
              <!-- Ver -->
              <a
                [routerLink]="['/app/calendarios/ver', calendario.id]"
                class="mx-1"
                title="Ver calendario"
              >
                <i class="fas fa-eye text-success" style="cursor: pointer"></i>
              </a>

              <!-- Eliminar -->
              <a
                [routerLink]="['/app/calendarios/eliminar', calendario.id]"
                class="mx-1"
                title="Eliminar calendario"
              >
                <i class="fas fa-trash text-danger" style="cursor: pointer"></i>
              </a>

              <!-- Restaurar -->
              <a
                [routerLink]="['/app/calendarios/restaurar', calendario.id]"
                class="mx-1"
                title="Restaurar calendario"
              >
                <i class="fas fa-undo text-warning" style="cursor: pointer"></i>
              </a>

              <!-- Descargar -->
              <a
                [routerLink]="['/app/calendarios/descargar', calendario.id]"
                class="mx-1"
                title="Descargar calendario"
              >
                <i
                  class="fas fa-download text-primary"
                  style="cursor: pointer"
                ></i>
              </a>
            </td>
          </tr>
        </tbody>
        <ng-template #noPeriodsHistory>
          <tbody>
            <tr>
              <td colspan="6" class="text-center text-body-regular">
                No hay calendarios académicos registrados
              </td>
            </tr>
          </tbody>
        </ng-template>
      </ng-container>
      <ng-template #noPeriodsHistory>
        <tbody>
          <tr>
            <td colspan="6" class="text-center text-body-regular">
              No hay calendarios académicos registrados
            </td>
          </tr>
        </tbody>
      </ng-template>
    </table>
  </section>

  <div class="mb-3"></div>

  <div class="d-flex justify-content-center">
    <!-- <shared-paginator [currentPage]="currentPage" [totalPages]="academicPeriodResponse?.totalPages || 1" (pageChange)="pageChanged($event)"></shared-paginator> -->
  </div>
</div>

<!-- <academic-period-management-modal-create-academic-period [currentPage]="currentPage"></academic-period-management-modal-create-academic-period>
<academic-period-management-modal-edit-academic-period [currentPage]="currentPage" ></academic-period-management-modal-edit-academic-period>
<modal-confirm-get-info-kira (confirm)="confirmLoadInfoTechersAndActivities()"></modal-confirm-get-info-kira> -->
