<p class="title-three" style="margin: 5px;">Cargar autoevaluación</p>
            <div class="messages" style="margin: 5px;">
                <img src="assets/icons/messages/teacher.svg" alt="teacher-icon">
                <span class="text-body-regular">Seleccione esta opción si desea cargar la autoevaluación utilizando un formato externo.</span>
            </div>
            <div class="button-radius" style="margin: 5px;">
                <p class="title-three" style="margin: 0px;">Autoevaluación</p>
                <button class="button" id="btnUploadFile" id="button" (click)="openModal()">
        <img src="assets/icons/buttons/go-icon.svg">
    </button>
            </div>

<div id="myModal" class="modal">
    <div class="modal-content">
        <p class="title-three">Carga de soporte</p>
        <div class="line"></div>
        <div class="message-container row">
            <div class="col-1">
                <img class="img-container" src="assets/icons/messages/icon-info.svg" alt="">
            </div>
            <div class="col">
                <p class="text-body-regular ">Por favor, ingrese la evaluación de sus actividades. Asegúrese de que la
                    evaluación coincida con la información del documento de soporte que desea cargar.</p>
            </div>
        </div>
        <p class="title-three">Actividad y evaluación</p>
        <div class="table-responsive" style="width: 100%; max-height: 378px; display: inline-table;">
            <table class="upload-table">
                <thead>
                    <tr>
                        <th>
                            <span class="text-body-heavy ">
                                Actividad
                            </span>
                        </th>
                        <th>
                            <span class="text-body-heavy">Evaluación</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let activitie of myActivities">
                        <td>
                            <span class="text-body-small-r">{{activitie.codigoActividad}}</span>
                        </td>
                        <td style="padding: 0px; margin: 0px;">
                            <input class="input-evaluation text-body-heavy" style="padding: 0px; margin: 0px;"
                                placeholder="Ingrese la evaluación">
                            <img src="assets/icons/tables/icon-pen-modal.svg" alt="">
                        </td>
                    </tr>
            </table>
        </div>

        <section style="padding-top: 25px;">
            <span class="title-three">Soporte</span>
            <div class="input-file-container">  
                <label for="button-upload" class="label-file text-body-small-sb" >Soporte</label>          
                <input class="input-file text-body-custom" id="button-upload" type="file" accept=".pdf">
                <button class="btn-file"></button>
            </div>
        </section>
           
        <section style="padding-top: 25px; width: 100%;">
            <span class="title-three">Observaciones</span>
            <p></p>
            <input class="input-text text-body-regular" type="text" placeholder="Ingrese sus observaciones" >
        </section>
        <div class="modal-buttons">
            <button class="button-modal text-body-heavy" (click)="closeModal()">
                Cerrar
            </button>
            <button class="button-modal text-body-heavy">
                Guardar
            </button>
        </div>

    </div>
</div>