<span class="text-body-heavy">Actividades registradas</span>
<div class="mb-2"></div>
<table class="table-bordered">
    <thead>
        <tr>
            <th class="text-body-heavy">Tipo de actividad</th>
            <th class="text-body-heavy">Nombre actividad</th>
            <th class="text-body-heavy">Total de horas</th>
            <th class="text-body-heavy">Acciones</th>
        </tr>
    </thead>
    <ng-container>
        <tbody *ngIf="activities.length>0; else nullData">
            <tr *ngFor="let activity of activities">
                <td class="text-body-regular">{{activity.tipoActividad.nombre | titlecase}}</td>
                <td class="text-body-regular">{{activity.nombreActividad}}</td>
                <td>{{activity.horas*activity.semanas}}</td>
                <td>
                    <img src="assets/icons/tables/icon-view.svg" (click)="openActivitieDetails(activity)" alt="Ver detalles" title="Ver detalles" style="cursor: pointer;" aria-label="Ver detalles">
                    <img src="/assets/icons/tables/icon-pen.svg" [routerLink]="['/app/gestion-usuarios/actividades/editar-actividad/', activity.oidActividad]" routerLinkActive="router-link-active" alt="Editar" title="Editar" style="cursor: pointer;" aria-label="Editar">
                </td>
            </tr>
        </tbody>
    </ng-container>
    <ng-template #nullData>
        <tbody>
            <tr class="text-center">
                <th class="text-body-regular" colspan="6">
                    No cuenta con actividades registradas
                </th>
            </tr>
        </tbody>
    </ng-template>
</table>
<div class="mb-3"></div>
<section id="paginator-section-consolidated">
    <shared-paginator [currentPage]="currentPage" [totalPages]="activityResponse?.totalPages || 1" (pageChange)="pageChanged($event)" class="d-flex justify-content-center"></shared-paginator>
</section>

<user-management-modal-activitie-details></user-management-modal-activitie-details>