<div *ngIf="(activities.length != 0) || (activities == null) ; else nullData ">
    <table>
        <thead>
            <tr>
                <th class="text-body-heavy center-text"> {{headDataTable[0]}} </th>
                <th class="text-body-heavy center-text" colspan="2"> {{headDataTable[1]}} </th>
                <th class="text-body-heavy center-text" colspan="4"> {{headDataTable[2]}} </th>
            </tr>
            <tr>
                <th class="text-body-regular" *ngFor="let item of subHeadDataTable">
                    <span>{{item}}</span>
                </th>
            </tr>
        </thead>
        <tbody *ngFor="let item of activitiesByType">
            <tr class="text-body-heavy center-text">
                <td colspan="7">
                    {{item.nombreType}}
                </td>
            </tr>
            <tr class="text-body-small-r" *ngFor="let item of item.activities">
                <td>
                    {{item.nombre}}
                </td>
                <td>
                    {{item.fuentes[0].estadoFuente}}
                </td>
                <td style="text-align: center;">
                    <a>
                        <img *ngIf="item.fuentes[0].estadoFuente=='Diligenciado'"
                            src="assets/icons/tables/icon-view.svg" alt="view">
                    </a>
                    <a>
                        <img *ngIf="item.fuentes[0].estadoFuente=='Pendiente firma'"
                            src="assets/icons/tables/icon-view.svg" alt="view">
                    </a>

                </td>
                <td>
                    {{item.evaluador.identificacion}}
                </td>
                <td>
                    {{item.evaluador.roles[0].nombre}}
                </td>
                <td>
                    {{item.fuentes[1].estadoFuente}}
                </td>
                <td style="text-align: center;">
                    <a>
                        <img *ngIf="item.fuentes[1].estadoFuente=='Diligenciado'"
                            src="assets/icons/tables/icon-view.svg" alt="view">
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #nullData>
    <table>
        <thead>
            <tr>
                <th class="text-body-heavy"> {{headDataTable[0]}} </th>
                <th class="text-body-heavy" colspan="2"> {{headDataTable[1]}} </th>
                <th class="text-body-heavy" colspan="4"> {{headDataTable[2]}} </th>
            </tr>
            <tr>
                <th class="text-body-regular" *ngFor="let item of subHeadDataTable">
                    <span>{{item}}</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-body-regular center-text">
                <th colspan="7">
                    No cuenta con actividades registradas
                </th>
            </tr>
        </tbody>
    </table>
</ng-template>