<div class="line"></div>
<div class="row">
    <div class="col-1" style="width: 50px">
        <img [src]="'assets/icons/tables/icon-filter.svg'" alt="filters">
    </div>

    <div class="col">
        <form [formGroup]="formFilter" (submit)="filterAction()">
            <div class="row row-cols-auto">
                <!-- Tipo de actividad -->
                <div class="col m-1">
                    <select class="input-select-filter" formControlName="activityType">
                        <option [value]="''" selected>Tipo de actividad</option>
                        <option *ngFor="let option of catalogData?.tipoActividades" value="{{option.codigo}}">
                            {{option.nombre | titlecase}}
                        </option>
                    </select>
                </div>
                <!-- Nombre de la actividad -->
                <div class="col m-1">
                    <input type="text" id="nameUser" class="input-normal-filter" placeholder="Nombre actividad"
                        formControlName="activityName">
                </div>
                <!-- Tipo de fuente -->
                <div class="col m-1">
                    <select class="input-select-filter" formControlName="sourceType">
                        <option [value]="''" selected>Tipo de fuente</option>
                        <option value="1">
                            Fuente 1
                        </option>
                        <option value="2">
                            Fuente 2
                        </option>
                    </select>
                </div>
                <!-- Estado de la fuente -->
                <div class="col m-1">
                    <select class="input-select-filter" formControlName="sourceState">
                        <option [value]="''" selected>Ordenar estado por</option>
                        <option value="2">
                            Diligenciado
                        </option>
                        <option value="1">
                            Pendiente
                        </option>
                    </select>
                </div>
                <div class="col">
                    <div class="row">
                        <button type="submit" class="clearButton col" (click)="filterAction()">
                            <span style="color: var(--white);">Buscar</span>
                        </button>
                        <button class="clearButton col" (click)="clearAction()">
                            <span style="color: var(--white);">Limpiar</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="line">
</div>