<div class="sidebar" [ngClass]="{ 'sidebar-collapsed': isSidebarCollapsed }">
  <div class="sidebar-header">
    <a [routerLink]="['/app/home']" class="sidebar-logo">
      <ng-container *ngIf="isSidebarCollapsed; else expandedLogo">
        <img
          src="assets/icons/logo_unicauca.svg"
          alt="Logo Unicauca"
          class="logo-collapsed"
        />
      </ng-container>
      <ng-template #expandedLogo>
        <img
          src="assets/icons/logo_unicauca_horizontal.svg"
          alt="Logo Unicauca Horizontal"
          class="logo-expanded"
        />
      </ng-template>
    </a>
  </div>
  <div class="sidebar-menu">
    <ul>
      <ng-container *ngFor="let item of menuItems">
        <li class="sidebar-menu-item" *ngIf="hasRole(item.role)">
          <a
            href="#"
            class="sidebar-item"
            [ngClass]="{
              'has-children': item.children,
              'menu-item-active': item.isOpen
            }"
            [title]="isSidebarCollapsed ? item.label : ''"
            (click)="toggleMenuItem(item); $event.preventDefault()"
          >
            <img [src]="item.icon" class="icon-svg" />
            <span class="sidebar-item-text">{{ item.label }}</span>
            <i
              *ngIf="item.children && !isSidebarCollapsed"
              class="fas fa-chevron-down sidebar-item-arrow"
              [ngClass]="{ rotated: item.isOpen }"
            ></i>
          </a>

          <ul
            *ngIf="item.children && !isSidebarCollapsed && item.isOpen"
            class="sidebar-submenu"
          >
            <ng-container *ngFor="let child of item.children">
              <li *ngIf="hasRole(child.role)">
                <a
                  routerLink="{{ child.url }}"
                  class="sidebar-item sidebar-subitem"
                >
                  <i [class]="child.icon"></i>
                  <span class="sidebar-item-text">{{ child.label }}</span>
                </a>
              </li>
            </ng-container>
          </ul>
        </li>
      </ng-container>
    </ul>
  </div>
  <div class="sidebar-user-profile">
    <div class="user-profile-trigger" (click)="toggleUserModal()">
      <div class="user-avatar">
        <span>{{ getUserInitials() }}</span>
      </div>
      <ng-container *ngIf="!isSidebarCollapsed">
        <span class="user-name"
          >{{ currentUser?.nombres }} {{ currentUser?.apellidos }}</span
        >
      </ng-container>
    </div>
  </div>
</div>

<app-user-profile-modal
  [currentUser]="currentUser"
  [isOpen]="isUserModalOpen"
  [isSidebarCollapsed]="isSidebarCollapsed"
  (close)="closeUserModal()"
></app-user-profile-modal>
