<div class="line-filter"></div>

<form [formGroup]="formFilter" (ngSubmit)="searchActivities()" >
    <div class="row">
        <div class="col-1" style="width: 50px;">
            <img src="assets/icons/tables/icon-filter.svg" alt="">
        </div>
        <div class="col" >
            <div class="row row-cols-auto">
                <!-- Tipo de actividad -->
                <div class="col m-1">
                    <select class="input-select-filter" formControlName="activityType">
                        <option [value]="null" selected>Tipo de actividad</option>
                        <option *ngFor="let option of catalogDataResponse?.tipoActividades" value="{{option.codigo}}">
                            {{option.nombre | titlecase}}
                        </option>
                    </select>
                </div>
                <!-- Nombre de la actividad -->
                <div class="col m-1">
                    <input type="text" id="nameUser" class="input-normal-filter" placeholder="Nombre actividad"
                        formControlName="activityName">
                </div>
                <!-- Nombre evaluado -->
                <div class="col m-1">
                    <input type="text" id="nameUser" class="input-normal-filter" placeholder="Nombre evaluado" formControlName="evaluatorName">  
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="row row-cols-auto">
                <div class="col">
                    <button type="submit" class="button-normal">Buscar</button>
                </div>
                <div class="col">
                    <button class="button-normal" (click)="clearFilter()">Limpiar</button>
                </div>
            </div>

        </div>
    </div>
</form>



<div class="line-filter"></div>