<div *ngIf="(responsabilities.length != 0) || (responsabilities == null); else nullData">
    <table>
        <thead>
            <tr>
                <th class="text-body-heavy center-text"> {{headDataTable[0]}}</th>
                <th class="text-body-heavy center-text" colspan="4"> {{headDataTable[1]}}</th>
            </tr>
            <tr>
                <th class="text-body-regular" *ngFor="let subHead of subHeadDataTableStudents">
                    <span>{{subHead}}</span>
                </th>
            </tr>
        </thead>
        <tbody *ngFor="let responsabilties of responsabilitieByType">
            <tr>
                <td class="text-body-heavy center-text" colspan="5">{{responsabilties.nombreType}}</td>
            </tr>
            <tr *ngFor="let responsabilitie of responsabilities">
                <td class="text-body-regular">{{responsabilitie.nombre}}</td>
                <td class="text-body-regular">{{responsabilitie.evaluado.nombres}}
                    {{responsabilitie.evaluado.apellidos}}</td>
                <td class="text-body-regular">{{responsabilitie.evaluado.roles[0].nombre}}</td>
                <td class="text-body-regular">{{responsabilitie.fuentes[0].estadoFuente}}</td>
                <td class="center-text">
                    <img src="assets/icons/tables/icon-upload.svg" alt="">
                </td>
            </tr>

        </tbody>
    </table>
</div>


<ng-template #nullData>
    <table>
        <thead>
            <tr>
                <th class="text-body-heavy center-text"> {{headDataTable[0]}}</th>
                <th class="text-body-heavy center-text" colspan="4"> {{headDataTable[1]}}</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-body-regular center-text">
                <th colspan="7">
                    No cuenta con actividades registradas
                </th>
            </tr>
        </tbody>
    </table>
</ng-template>