<table>
    <thead>
        <tr>
            <th colspan="3">
                <span>Actividad</span>
            </th>
            <th colspan="3">
                <span>Autoevaluación</span>
            </th>
            <th colspan="3">
                <span>
                    Fuente 2
                </span>
            </th>
        </tr>
        <tr>
            <th>
                <span>
                    <span>Nombre actividad</span>
                </span>
            </th>
            <th>
                <span>
                    <span>Horas</span>
                </span>
            </th>
            <th>
                <span>
                    <span>Porcentaje(%)</span>
                </span>
            </th>
            <th>
                <span>
                    <span>Estado</span>
                </span>
            </th>
            <th>
                <span>
                    <span>Evaluación</span>
                </span>
            </th>
            <th>
                <span>
                    <span>Acciones</span>
                </span>
            </th>
            <th>
                <span>
                    <span>Estado</span>
                </span>
            </th>
            <th>
                <span>
                    <span>Evaluación</span>
                </span>
            </th>
            <th>
                <span>
                    <span>Acciones</span>
                </span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="9" class="center-text">
                <span>Docencia directa</span>
            </td>
        </tr>
        <tr>
            <td>
                <span>Metodología de la investigación</span>
            </td>
            <td>
                <span>30</span>
            </td>
            <td>
                <span>15%</span>
            </td>
            <td>
                <span>Diligenciado</span>
            </td>
            <td>
                <span>100</span>
            </td>
            <td>
                <img src="/assets/icons/tables/icon-message.svg" alt="message-icon" (click)="emailNotificationModal()">
            </td>
            <td>
                <span>Diligenciado</span>
            </td>
            <td>
                <span>100</span>
            </td>
            <td>
                <span></span>
            </td>

        </tr>
    </tbody>
</table>

<app-email-notification></app-email-notification>