<footer>
  <div class="row">
    <div class="col-12">
      <div class="hr-container">
        <hr class="hr-line" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <span class="text-body footer-title"
        >2025 | Sistema de Gestión Docente</span
      >
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-12 d-flex justify-content-center">
      <span class="text-body footer-subtitle"
        >División de Tecnologías de la Información y las Comunicaciones |
        Versión 1.0.0</span
      >
    </div>
  </div>
</footer>
