<footer>
    <div class="row">
        <div class="col-12">
            <div class="hr-container">
                <hr class="hr-line">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <span class="text-body">2025 | Sistema de Evaluación Docente</span>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-12 d-flex justify-content-center">
            <span class="text-body">División de Tecnologías de la Información y las Comunicaciones | Versión 1.0.0</span>
        </div>
    </div>
</footer>
