<div class="view-container">
  <!-- Componente Base con modo visualizar -->
  <app-activities-base [modo]="'visualizar'">
    <!-- Contenido personalizado antes de las tabs -->
    <div header-content>
      <header class="title-two">Explorar Actividades Académicas</header>

      <section class="messages-container">
        <img
          [src]="'assets/icons/messages/teacher.svg'"
          alt="Icono de profesor"
        />
        <span class="text-body-heavy">
          A continuación encontrará todas las actividades académicas con
          opciones de filtrado y búsqueda avanzada.
        </span>
      </section>

      <section class="messages-container mt-4">
        <img
          [src]="'assets/icons/messages/teacher.svg'"
          alt="Icono de profesor"
        />
        <span class="text-body-heavy">
          Utilice los filtros para refinar su búsqueda y consulte los detalles
          completos de cada actividad incluyendo usuarios asociados y atributos.
        </span>
      </section>

      <div><br /></div>
    </div>
  </app-activities-base>
</div>
