<div class="app-container">
  @if (authService.isAuthenticated()) {
  <div class="position-relative">
    <app-side-bar-v2
      [isSidebarCollapsed]="isSidebarCollapsed"
      (sidebarToggle)="onSidebarToggle()"
    >
    </app-side-bar-v2>
    <button
      class="sidebar-toggle-btn"
      [ngClass]="{ 'sidebar-collapsed': isSidebarCollapsed }"
      (click)="onSidebarToggle()"
    >
      <i
        [class]="
          isSidebarCollapsed ? 'fas fa-arrow-right' : 'fas fa-arrow-left'
        "
      ></i>
    </button>
  </div>
  }

  <main
    class="content"
    [ngClass]="{
      'content-expanded': isSidebarCollapsed || !authService.isAuthenticated()
    }"
  >
    <div class="content-inner"><router-outlet></router-outlet></div>
  </main>
</div>
