.app-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.content {
  flex-grow: 1;
  margin-left: 250px;
  transition: all 0.3s ease-in-out;
  background-color: #f4f6f7;
  overflow-y: auto;

  &-inner {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
  }

  &-expanded {
    margin-left: 50px;
  }
}

.sidebar-toggle-btn {
  position: absolute;
  top: 3rem;
  left: 275px; // Default position when sidebar is expanded
  background-color: rgb(175, 0, 0);
  border: none;
  color: #fff;
  padding: 10px 12px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1001;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;

  &:hover {
    background-color: rgb(175, 0, 0);
  }

  &.sidebar-collapsed {
    left: 75px; // Position when sidebar is collapsed
  }
}
