.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1100;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px) saturate(1.2);
  background-color: rgba(134, 135, 143, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1100;
}

.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-text {
  margin-top: 10px; /* Ajusta este valor según el espacio que desees */
  color: var(--blue); /* Cambia esto según el color que prefieras */
}

.spinner-border{
  color: var(--blue);
}
