<div class="view-container">
    <div class="title-two">Actividades Pendientes De Asignar Evaluador</div>
    <div class="messages-container" style="margin: 5px;">
        <img src="assets/icons/messages/teacher.svg" alt="teacher-icon">
        <span class="text-body-heavy">A continuación, encontrará la lista de actividades asignadas por defecto para la asignación de un evaluador. Por favor, revíselas y asigne el evaluador correspondiente.</span>
    </div>
    <activities-pending-definition-evaluator-filter></activities-pending-definition-evaluator-filter>
    <activities-pending-definition-evaluator-table></activities-pending-definition-evaluator-table>
</div>
