<section>
    <table>
        <thead>
            <tr>
                <th>Nombre docente</th>
                <th>Identificación</th>
                <th>Tipo contrato</th>
                <th>% Evaluación completado</th>
                <th>Estado consolidado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let teacher of teacherList">
                <td>
                    <span>{{teacher.nombreDocente}}</span>
                </td>
                <td>
                    <span>{{teacher.identificacion}}</span> 
                </td>
                <td>
                    <span>{{teacher.contratacion}}</span>
                </td>
                <td>
                    <span>{{teacher.porcentajeEvaluacionCompletado}}</span>
                </td>
                <td>
                   <span>{{teacher.estadoConsolidado}}</span>
                 </td>
                <td class="text-center">
                    <button class="button-table">
                        <a [routerLink]="['../consolidado-docente']" routerLinkActive="router-link-active">
                            <img src="assets/icons/tables/icon-consolidated.svg" alt="icon-view">
                        </a>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</section>
<section id="paginator-section-consolidated">
    <shared-paginator></shared-paginator>
</section>