<table class="table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Identificación</th>
            <th>Facultad</th>
            <th>Programa</th>
            <th>Rol</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of usersResponse?.content" >
            <td class="text-body-small-sb ">
                {{ user.nombres }} {{ user.apellidos }}
            </td>
            <td class="text-body-small-sb ">  
                {{user.usuarioDetalle.identificacion }}
            </td>
            <td class="text-body-small-sb ">
                {{user.usuarioDetalle.facultad }}
            </td>
            <td class="text-body-small-sb ">
                {{user.usuarioDetalle.departamento }}
            </td>
            <td class="text-body-small-sb ">
                {{returnAllRoles(user.roles)}}
            </td>
            <td class="text-body-small-sb ">
                {{user.estado}}
            </td>
            <td>
                <img src="assets/icons/tables/icon-form.svg" alt="Actividades" title="Actividades" style="cursor: pointer;" [routerLink]="['../actividades-usuario/',user.oidUsuario]">
            </td>
        </tr>
    </tbody>
</table>

<div class="mb-3"></div>

<shared-paginator class="d-flex justify-content-center" [currentPage]="currentPage" [totalPages]="usersResponse?.totalPages || 1" (pageChange)="pageChanged($event)"></shared-paginator>