<div class="view-container">
  <div class="d-flex justify-content-center">
    <p>
      <span class="title-two"> Sistema de Evaluación Docente </span>
    </p>
  </div>
  <br />
  <div>
    <p class="title-three text-center">
      Acuerdo Superior No. 090 de 2005, el cual define en su artículo 2 que la
      evaluación docente es:
    </p>

    <blockquote class="blockquote title-three text-center">
      <em>
        “un proceso permanente, periódico, integral y público que permite
        establecer el grado de cumplimiento de las actividades asignadas y la
        calidad de las mismas, con el fin de propiciar el mejoramiento continuo
        de la labor docente”
      </em>
    </blockquote>
    <p  class="title-three text-center">
        .....
    </p>
    <blockquote class="blockquote title-three text-center">
      <em>
        ”La evaluación profesoral se hará con base en diversas fuentes, de tal
        manera que ellas permitan recolectar información suficiente y pertinente
        para el logro de este propósito. Para tal efecto, la información
        provendrá de los estudiantes, organizaciones o instituciones en las
        cuales presta sus servicios el profesor, de los colegas, del superior
        inmediato, de las instancias de dirección y coordinación académica y del
        mismo profesor".
      </em>
    </blockquote>
    <div class="mb-5"></div>
    <a href="https://www.unicauca.edu.co/archivos/publicos/DOC_66b4042fa89853_42321188.pdf" target="_blank" class="d-flex justify-content-center">
        <span class="blockquote title-three text-center"> Acuerdo Superior No. 090 de 2005 </span>
    </a>
  </div>
  <div class="d-flex justify-content-center">
      <img [src]="'assets/images/home-image.svg'" alt="Imagen del equipo">
  </div>
</div>
