<div class="view-container">
  <div class="d-flex justify-content-center">
    <p>
      <span class="title-two">
        Sistema de Gestión Docente Facultad de Ingeniería Electronica y
        Telecomunicaciones - FIET</span
      >
    </p>
  </div>
  <br />
  <div class="d-flex justify-content-center align-items-center gap-4 flex-wrap">
    <img
      [src]="'assets/images/home-image.svg'"
      alt="Imagen del equipo"
      class="home-image"
    />
    <img
      [src]="'assets/images/logo_fiet.jpg'"
      alt="Descripción de la segunda imagen"
      class="home-image"
    />
  </div>
</div>
