<div class="view-container">
  <div class="d-flex justify-content-center">
    <p>
      <span class="title-two"> Sistema de Gestión Docente </span>
    </p>
  </div>
  <br />
  <div>
    <p class="title-three text-center">
      Acuerdo Superior No. 090 de 2005, el cual define en su artículo 2 que la
      gestón docente es:
    </p>

    <blockquote class="blockquote title-three text-center">
      <em>
        "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis
        doloribus architecto ea itaque natus tempore. Nihil quaerat, obcaecati a
        molestias veniam, cumque commodi dolor quas sequi soluta mollitia ab
        quam?"
      </em>
    </blockquote>
    <p class="title-three text-center">.....</p>
    <blockquote class="blockquote title-three text-center">
      <em>
        "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi ad iste
        omnis placeat et praesentium consectetur magnam aspernatur veritatis
        repellendus nihil nobis quas, nemo iusto consequuntur aliquid vero nulla
        eligendi".
      </em>
    </blockquote>
    <div class="mb-5"></div>
    <a
      href="https://www.unicauca.edu.co/archivos/publicos/DOC_66b4042fa89853_42321188.pdf"
      target="_blank"
      class="d-flex justify-content-center"
    >
      <span class="blockquote title-three text-center">
        Acuerdo Superior No. 090 de 2005
      </span>
    </a>
  </div>
  <div class="d-flex justify-content-center">
    <img [src]="'assets/images/home-image.svg'" alt="Imagen del equipo" />
  </div>
</div>
