<header>

    <div class="row d-flex align-items-center h-100 mx-4">

        <div class="col">
            <div class="row">
                <span class="title-three p-0 ps-5">Sistema de Evaluación Docente</span>
            </div>
        </div>

        <div class="col d-flex justify-content-end">

            <div class="row p-0 pe-3 d-flex align-items-center">

                <div class="col d-flex justify-content-center align-items-center user-custom">
                    <img src="./assets/icons/header/icon-user.svg" alt="icon-user">
                </div>

                <div class="col" style="max-height: 36px;">
                    <div class="row h-50">
                        <div class="col d-flex justify-content-center align-items-center">
                            <div class="row text-body-small-sb text-nowrap">
                                {{this.currentUser?.nombres}} {{this.currentUser?.apellidos}}
                            </div>
                        </div>
                    </div>
                    <div class="row text-body-small-r h-50">
                        <div class="col d-flex justify-content-end align-items-center border-right p-0 ps-2 pe-2 m-0">
                            <div class="row text-nowrap m-0">
                                {{returnAllRoles(currentUser?.roles || [])}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col d-flex justify-content-center align-items-center dropdown-custom">
                    <div class="dropdown">
                        <button class="dropbtn">
                            <img src="./assets/icons/header/icon-dropdown.svg" alt="icon-dropdown">
                        </button>
                        <div class="dropdown-content">
                            <span class="btn-logout text-body-small-r" (click)="logOut()">Cerrar sesión</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</header>