<header>
  <div class="row d-flex align-items-center h-100 mx-4">
    <div class="col-auto">
      <div class="row">
        <span class="title-two p-0 ps-5 responsive-title">
          Sistema para la Gestión de Evaluación Docente FIET
        </span>
      </div>
    </div>
    <ng-container *ngIf="currentAcademicPeriod !== null">
      <div class="col-auto">
        <div class="row">
          <span
            class="title-two p-0 ps-5 responsive-separator"
            style="color: red"
            >|</span
          >
        </div>
      </div>
      <div class="col-auto">
        <div class="row">
          <span class="title-two p-0 ps-5 responsive-period">
            Periodo académico {{ currentAcademicPeriod.idPeriodo }}
          </span>
        </div>
      </div>
    </ng-container>
  </div>
</header>
