<div class="modal fade" id="email-modal" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <span class="title-three mx-3">Correo de notificación</span>
                <div class="header-container col">
                </div>
            </div>
            <div class="modal-body">
                <form [formGroup]="fomrEmail" (ngSubmit)="sendEmail()">
                    <section>
                        <span class="text-body-heavy">El correo se notificará a las siguientes personas:</span>
                        <br>
                        <span class="text-body-heavy">Remitente:</span> <span class="text-body-regular"> {{remitente}}</span>
                        <br>
                        <span class="text-body-heavy">Destinatario:</span> <span class="text-body-regular"> {{destinatario}}</span>
                        <br>
                        <span class="text-body-heavy">CC: </span> <input  type="text" class="cc" formControlName="cc">
                    </section>
                    <div class="mb-2"></div>
                    <section>
                        <span class="title-three">Asunto</span>
                        <input type="text" class="subject" formControlName="subject">
                    </section>
                    <section>
                        <span class="title-three">Mensaje</span>
                        <textarea type="text" class="message" formControlName="message">{{mensaje}}</textarea>
                    </section>
                    <section>
                        <div class="modal-buttons">
                            <button type="button" class="button-modal text-body-heavy" data-bs-dismiss="modal">
                                Cerrar
                            </button>
                            <button type="submit" class="button-modal text-body-heavy">
                                Enviar
                            </button>
                        </div>
                    </section>
                </form>
            </div>
        </div>
    </div>
    
</div>
