


<div class="view-container">
    <span class="title-two">Docente</span>

    <div class="messages-container">
        <img src="assets/icons/messages/teacher.svg" alt="teacher-icon">
        <span class="text-body-heavy">A continuación, encontrará el listado de docentes con su respectivo estado de consolidado</span>
    </div>
    <support-management-filter-teachers-consolidated></support-management-filter-teachers-consolidated>
    <support-management-table-users-consolidated></support-management-table-users-consolidated>
   
</div>
