<div class="line">
</div>

<div class="row">
  <div class="col-1" style="width: 50px">
    <img src="assets/icons/tables/icon-filter.svg" alt="filters">
  </div>

  <div class="col">
    <div class="row">
      <!-- Activitie filter -->
      <div class="col" style="margin: 1px;">
        <input type="text" id="activity" class="button-main" placeholder="Actividad">
      </div>
      <!-- Type Activitie filter -->
      <div class="col" style="margin: 1px; padding-left: 6px; padding-right: 6px">
        <div class="dropdown">
          <button class="dropbtn">
            <span>{{valuetypeActivity}}</span>
            <img src="assets\icons\tables\icon-down.svg" alt="">
          </button>
          <div class="dropdown-content">
            <div *ngFor="let opcion of typeActivity;">
              <a *ngIf="opcion.valor!='default'" href="#" (click)="seleccionarOpcionActivity($event, opcion)">
                <span class="text-body-small-r">{{opcion.texto}}</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- Evaluator name filter -->
      <div class="col" style="margin: 1px;">
        <input class="button-main" placeholder="Nombre evaluador">
      </div>
      <!-- Evaluator rol filter -->
      <div class="col" style="margin: 1px;">
        <div class="dropdown">
          <button class="dropbtn">
            <span>{{valueRolEvaluator}}</span>
            <img src="assets\icons\tables\icon-down.svg" alt="">
          </button>
          <div class="dropdown-content">
            <div *ngFor="let opcion of rolEvualator">
              <a *ngIf="opcion.valor!='default'" href="#" (click)="seleccionarOpcionEvaluator($event, opcion)">
                <span class="text-body-small-r">{{ opcion.texto }}</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- source type filter -->
      <div class="col" style="margin: 1px">
        <div class="dropdown">
          <button class="dropbtn">
            <span>{{valueSource}}</span>
            <img src="assets\icons\tables\icon-down.svg" alt="">
          </button>
          <div class="dropdown-content">
            <div *ngFor="let opcion of source">
              <a *ngIf="opcion.valor!='default'" href="#" (click)="seleccionarOpcionSource($event, opcion)">
                <span class="text-body-small-r">{{ opcion.texto }}</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- source filter -->
      <div class="col" style="margin: 1px;">
        <div class="dropdown">
          <button class="dropbtn">
            <span>{{valueState}}</span>
            <img src="assets\icons\tables\icon-down.svg" alt="">
          </button>
          <div class="dropdown-content">
            <div *ngFor="let opcion of stateSourceSelected">
              <a *ngIf="opcion.valor!='default'" href="#" (click)="seleccionarOpcionStateSource($event, opcion)">
                <span class="text-body-small-r">{{ opcion.texto }}</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-9">
        <div class="row">
          <button class="clearButton col" (click)="filterAction()">
            <span style="color: var(--white);">Buscar</span>
          </button>
          <button class="clearButton col">
            <span style="color: var(--white);">Limpiar</span>
          </button>
        </div>

      </div>

    </div>
  </div>
</div>
<div class="line">
</div>