<div class="view-container">
    <div class="title-two">Actividades del docente {{userTeacherInfo?.nombres | titlecase}} {{userTeacherInfo?.apellidos
        | titlecase}}</div>
    <cpd-activity-filter (filterParams)="filterAction($event)"></cpd-activity-filter>
    <table class="table-bordered">
        <thead>
            <tr>
                <th class="text-body-heavy text-center">Actividades</th>
                <th class="text-body-heavy text-center" colspan="2">Autoevaluación</th>
                <th class="text-body-heavy text-center" colspan="3">Fuente 2</th>
            </tr>
            <tr>
                <th class="text-body-regular">Nombre actividad</th>
                <th class="text-body-regular">Estado</th>
                <th class="text-body-regular">Acciones</th>
                <th class="text-body-regular">Evaluador</th>
                <th class="text-body-regular">Estado</th>
                <th class="text-body-regular">Acciones</th>
            </tr>
        </thead>
        <ng-container *ngIf="teacherActivities && teacherActivities.content.length > 0; else noData">
            <tbody>
                <ng-container *ngFor="let activityType of activitiesByType">
                    <tr>
                        <td colspan="6" class="text-body-regular text-center">{{activityType.nombreType}}</td>
                    </tr>
                    <tr *ngFor="let activity of activityType.activities">
                        <td>
                            {{activity.nombreActividad}}
                        </td>
                        <td>
                            <span class="text-body-regular"
                                *ngIf="activity.fuentes[0].tipoFuente=='1'">{{activity.fuentes[0].estadoFuente}}</span>

                        </td>
                        <td>
                            <button class="button-table-view"
                                *ngIf="activity.fuentes[0].tipoFuente=='1' && activity.fuentes[0].estadoFuente==='DILIGENCIADO'"
                                (click)="openSourceOne(activity)"></button>
                        </td>
                        <td>
                            <span class="text-body-regular">{{activity.evaluador.nombres}}
                                {{activity.evaluador.apellidos}}</span>
                        </td>
                        <td>
                            <span class="text-body-regular"
                                *ngIf="activity.fuentes[1].tipoFuente=='2'">{{activity.fuentes[1].estadoFuente}}</span>
                        </td>
                        <td>
                            <button class="button-table-view"
                                *ngIf="activity.fuentes[1].tipoFuente=='2' && activity.fuentes[1].estadoFuente==='DILIGENCIADO'"
                                (click)="openSourceTwo(activity)"></button>

                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </ng-container>
        <ng-template #noData>
            <tbody>
                <tr>
                    <td colspan="6" class="text-body-regular text-center">No hay actividades registradas</td>
                </tr>
            </tbody>
        </ng-template>
    </table>

    <div class="mb-3"></div>

    <shared-paginator class="d-flex justify-content-center" [currentPage]="currentPage"
        [totalPages]="teacherActivities?.totalPages || 1" (pageChange)="pageChanged($event)"></shared-paginator>
    <section>
        <div class="row">
            <div class="col">
                <span class="title-three">Descargar consolidado</span>
                <div class="buttons-container">
                    <div>
                        <span class="text-bod">Consolidado</span>
                        <br>
                    </div>
                    <button class="button-actions button-download" (click)="downloadConsolidatedFiles()"></button>
                </div>
            </div>
            <div class="col">
                <span class="title-three">Descargar todos los soportes</span>
                <div class="buttons-container">
                    <div>
                        <span class="text-bod">Soportes</span>
                        <br>
                    </div>
                    <button class="button-actions button-download" (click)="downloadFiles()"></button>
                </div>
            </div>
        </div>
    </section>

    <div class="mb-3"></div>

    <div class=" d-flex justify-content-center">
        <button class="button-normal" (click)="goBack()">Volver</button>
    </div>

</div>
<cpd-view-details-source-one></cpd-view-details-source-one>
<cpd-view-details-source-two></cpd-view-details-source-two>