/* You can add global styles to this file, and also import other style files */
:root {
    --blue: #000066;
    --white: #FFFFFF;
    --red-light: #DB141C;
    --neutral-95: #F2EFFA;
    --neutral-90: #E4E1EC;
    --blue-60: #828AE3;
    --Gray-background: #E4E1EC;

}


@font-face {
    font-family: "FiraSans-Black";
    src: url("./assets/fonts/FiraSans-Black.ttf");
}

@font-face {
    font-family: "FiraSans-Bold";
    src: url("./assets/fonts/FiraSans-Bold.ttf");
}

@font-face {
    font-family: "FiraSans-Light";
    src: url("./assets/fonts/FiraSans-Light.ttf");
}

@font-face {
    font-family: "FiraSans-Regular";
    src: url("./assets/fonts/FiraSans-Regular.ttf");
}

@font-face {
    font-family: "FiraSans-SemiBold";
    src: url('./assets/fonts/FiraSans-SemiBold.ttf');
}

/* titles */
.title-one {
    font-family: "FiraSans-Black";
    font-size: 36px;
    color: var(--blue);
}

.title-two {
    font-family: "FiraSans-Bold";
    font-size: 30px;
    color: var(--blue);
}

.title-three {
    font-family: "FiraSans-Semibold";
    font-size: 24px;
    color: var(--blue);
}

/* texts */
.text-body-regular {
    font-family: "FiraSans-Regular";
    font-size: 16px;
    color: var(--blue);
}

.text-body-heavy {
    font-family: "FiraSans-SemiBold";
    font-size: 16px;
    color: var(--blue);
}

.text-body-small-r {
    font-family: "FiraSans-Regular";
    font-size: 14px;
    color: var(--blue);
}

.text-body-small-sb {
    font-family: "FiraSans-SemiBold";
    font-size: 14px;
    color: var(--blue);
}

.text-body-extra-small {
    font-family: "FiraSans-Light";
    font-size: 12px;
    color: var(--blue);
}

