/* You can add global styles to this file, and also import other style files */
:root {
  /*AZUL: Color institucional primario: */
  --blue: #000066; /* Color primario */
  /*ROJO: Color institucional secundario:*/
  --red-light: #db141c; /* Color secundario */
  /*OTROS COLORES*/
  --Gray-background: #e5e1e5;
  --white: #ffffff; /* Blanco */
  --neutral-95: #f2effa; /* Neutral 95 */
  --neutral-90: #e4e1ec; /* Neutral 90 */
  --neutral-80: #c8c5d0; /* Neutral 80 */
  --neutral-70: #adaab4; /* Neutral 70 */
  --neutral-60: #928f9a; /* Neutral 60 */
  --neutral-50: #777680; /* Neutral 50 */
  --neutral-35: #535256; /* Neutral 35 */
  --blue-ligth: #5056ac; /* Color secundario ligth */
  --blue-60: #828ae3; /* Azul 60 */
  --blue-tertiary-95: #ecf0ff; /* Azul tertiary 95 */
  --blue-tertiary-90: #d6e2ff; /* Azul tertiary 90 */
  --error-ligth: #a04200; /* Error light */
  --error-ligth-2: #ffdbcc; /* Error light 2 */
  --error-light-3: #fdf2ea; /* Error light 3 */
  --yellow-one: #fff6e3; /* Amarillo color uno */
  --yellow-color-two: #ffb000; /* Amarillo color dos */
  --green-color-three: #5bae40; /* Verde color tres */
  --green-one: #eeffe9; /* Verde 1 */
}

@font-face {
  font-family: "FiraSans-Black";
  src: url("./assets/fonts/FiraSans-Black.ttf");
}

@font-face {
  font-family: "FiraSans-Bold";
  src: url("./assets/fonts/FiraSans-Bold.ttf");
}

@font-face {
  font-family: "FiraSans-Light";
  src: url("./assets/fonts/FiraSans-Light.ttf");
}

@font-face {
  font-family: "FiraSans-Regular";
  src: url("./assets/fonts/FiraSans-Regular.ttf");
}

@font-face {
  font-family: "FiraSans-SemiBold";
  src: url("./assets/fonts/FiraSans-SemiBold.ttf");
}

/* titles */
.title-one {
  font-family: "FiraSans-Black";
  font-size: 36px;
  color: var(--blue);
}

.title-two {
  font-family: "FiraSans-Bold";
  font-size: 30px;
  color: var(--blue);
}

.title-three {
  font-family: "FiraSans-Semibold";
  font-size: 24px;
  color: var(--blue);
}

/* texts */
.text-body-regular {
  font-family: "FiraSans-Regular";
  font-size: 16px;
  color: var(--blue);
}

.text-body-heavy {
  font-family: "FiraSans-SemiBold";
  font-size: 16px;
  color: var(--blue);
}

.text-body-small-r {
  font-family: "FiraSans-Regular";
  font-size: 14px;
  color: var(--blue);
}

.text-body-small-sb {
  font-family: "FiraSans-SemiBold";
  font-size: 14px;
  color: var(--blue);
}

.text-body-extra-small {
  font-family: "FiraSans-Light";
  font-size: 12px;
  color: var(--blue);
}
