<div id="myModalEdit" class="modal">
    <div class="modal-content">
        <span class="title-three">Editar evaluación</span>
        <div class="line"></div>
        <div class="messages-container">
            <img src="assets/icons/messages/icon-info.svg" alt="icon-info">
            <span class="text-body-regular">A continuación encontrará la información de la actividad seleccionada</span>
        </div>
        <!--Sección carga de autoevaluación -->
        <section id="upload-file-responsability">
            <span class="title-three">Soporte</span>
            <div class="input-file-container">
                <label for="button-upload" class="label-file text-body-small-sb">Soporte
                <input [ngClass]="{
                    'input-file text-body-custom': errorFormatFile==false,
                    'input-file-error text-body-custom': errorFormatFile==true
                }
                " id="input-upload" type="file" accept=".pdf" (change)="onFileSelected($event)">
  
                    <div class="file-actions">
                        <button class="btn-file-view">

                        </button>
                        <button [ngClass]="{
                        'btn-file': errorFormatFile==false,
                        'btn-file-error': errorFormatFile==true
                    }"></button>

                </div>
            </label>
                <span [ngClass]="{
                'text-error text-body-text-body-small-r' : errorFormatFile==true,
                'text' : errorFormatFile==false
            }">El formato no es permitido </span>
            </div>
        </section>
        <!-- Sección diligenciar evaluación -->
        <!-- <section id="assessment-fill-out-responsability">
            <div class="messages-container">
                <img src="assets/icons/messages/icon-info.svg" alt="icon-info">
                <span class="text-body-regular">Asegurese que la evaluación ingresada sea la misma que se encuentra en el soporte</span>
            </div>
            <span class="title-three">Evaluación</span><br>
            <input id="input-note" [(ngModel)]="evaluation" [ngClass]="getInputClass()"  class="input-nota text-body-heavy" type="text" placeholder="Nota"><br>
            <span [ngClass]="{
                'text' : errorMessageNote!='',
                'text-display text-body-regular-small-r': errorMessageNote===''
            }">Valores permitidos 0-100</span>
            <span [ngClass]="{
                'text-error text-body-text-body-small-r' : errorMessageNote!='',
                'text' : errorMessageNote===''
            }">La nota debe estar entre 0 y 100</span>
        </section > -->
        <!-- Observation section -->
        <!-- <section id="observation-responsability" >
            <span class="title-three">Observaciones</span>
            <input class="input-text-observation text-body-regular" type="text" placeholder="Ingrese sus observaciones" [(ngModel)]="observacionSend">
        </section> -->
        <!-- Buttons section -->
        <section id="buttons-responsability">
            <div class="modal-buttons">
                <button class="button-modal text-body-heavy" (click)="closeModal()">
                    Cerrar
                </button>
                <!-- <button class="button-modal text-body-heavy" (click)="saveEvaluation()">
                     Guardar
                 </button> -->
            </div>
        </section>
    </div>
</div>