
<section>
    <table>
        <thead>
            <tr>
                <th>Nombre docente</th>
                <th>Identificación</th>
                <th>Tipo contrato</th>
                <th>% Evaluación completado</th>
                <th>Estado consolidado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Nombre docente</td>
                <td>Identificación</td>
                <td>Tipo contrato</td>
                <td>% Evaluación completado</td>
                <td>Estado consolidado</td>
                <td class="text-center">
                    <button class="button-table">
                        <img src="assets/icons/tables/icon-consolidated.svg" alt="icon-view">
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</section>