<shared-loading-overley [isLoading]="isLoading"></shared-loading-overley>
<div class="view-container">
    <span class="title-two">Consolidado</span>

    <div class="messages-container">
        <img src="assets/icons/messages/teacher.svg" alt="teacher-icon">
        <span class="text-body-heavy">A continuación, encontrará el listado de actividades asignadas al docente para el periodo académico {{activeAcademicPeriod?.idPeriodo}}. En esta vista, podrá visualizar los detalles de la evaluación de las fuentes, enviar notificaciones por correo electrónico, descargar los soportes del docente, además de aprobar y generar el consolidado correspondiente</span>
    </div>

    <!-- Información del docente -->
    <section>
        <span class="title-three">Información docente</span>
        <div class="spacing"></div>
        <table class="table-bordered">
            <thead>
                <tr>
                    <th>
                        <span class="text-body-regular">Nombres y apellidos</span>
                        <br>
                        <span class="text-body-small-sb">{{this.infoDataTeacher?.nombreDocente}}</span>
                    </th>
                    <th>
                        <span class="text-body-regular">Num.Id</span>
                        <br>
                        <span class="text-body-small-sb">{{infoDataTeacher?.numeroIdentificacion}}</span>
                    </th>
                    <th>
                        <span class="text-body-regular">Vinculación</span>
                        <br>
                        <span class="text-body-small-sb">{{infoDataTeacher?.categoria}}</span>
                    </th>
                    <th>
                        <span class="text-body-regular">Dedicación</span>
                        <br>
                        <span class="text-body-small-sb">{{infoDataTeacher?.dedicacion}} </span>
                    </th>
                </tr>
                <tr>
                    <th>
                        <span class="text-body-regular">
                            <span class="text-body-regular">Facultad</span>
                            <br>
                            <span class="text-body-small-sb">{{infoDataTeacher?.facultad}}</span>
                        </span>
                    </th>
                    <th>
                        <span class="text-body-regular">Departamento</span>
                        <br>
                        <span class="text-body-small-sb">{{infoDataTeacher?.departamento}}</span>
                    </th>
                    <th>
                        <span class="text-body-regular">Periodo consolidado</span>
                        <br>
                        <span class="text-body-small-sb">{{infoDataTeacher?.periodoAcademico}}</span>
                    </th>
                    <th>
                        <span class="text-body-regular">Total horas</span>
                        <br>
                        <span class="text-body-small-sb">{{infoDataTeacher?.horasTotales}}</span>
                    </th>
                </tr>
            </thead>
        </table>
    </section>

    <span class="title-three">Actividades</span>

    <!-- Filtros de actividades -->

    <consolidated-teacher-filter></consolidated-teacher-filter>

    <!-- Tabla de actividades -->

    <consolidated-teacher-table (pageChange)="pageChange($event)" [teacherOfConsolidated]="infoDataTeacher"
        [currentPage]="currentPage"></consolidated-teacher-table>

    <!-- Resumen evaluación actividades -->
    <section>
        <div class="row" style="margin-right: 0% !important; margin-left: 0% !important;">
            <div class="col messages-container">
                <span class="text-body-regular">% Total: </span> <span
                    class="text-body-heavy">{{infoDataTeacher?.totalPorcentaje}}%</span>
            </div>
            <div class="col-1"></div>
            <div class="col messages-container">
                <span class="text-body-regular">Total acumulado: </span> <span
                    class="text-body-heavy">{{infoDataTeacher?.totalAcumulado}}</span>
            </div>
        </div>
    </section>

    <section>
        <div class="messages-container">
            <img src="assets/icons/messages/teacher.svg" alt="teacher-icon">
            <span class="text-body-heavy">Aquí podrás descargar todos los soportes cargados al docente</span>
        </div>
        <span class="title-three">Descargar soportes</span>
        <div class="buttons-container" style="width: 50% !important;">
            <div>
                <span class="text-body-small-r">Soportes</span>
                <br>
            </div>
            <button class="button-actions button-download" (click)="downloadAllSuppotFiles()"></button>
        </div>
    </section>

    <div class="messages-container">
        <img src="assets/icons/messages/teacher.svg" alt="teacher-icon">
        <span class="text-body-heavy">Tenga en cuenta que, para enviar el consolidado al CPD, primero debe
            aprobarse.</span>
    </div>
    <!-- Botones de acción -->
    <section id="consolidate-teacher-button-main">
        <button class="button-main text-body-heavy" style="color: var(--white) !important" role="button"
            aria-label="Aprobar consolidado" (click)="createConsolidated()">Aprobar y generar consolidado</button>
    </section>
    <div class="mb-1 d-flex justify-content-center">
        <button (click)="goBack()" class="button-normal text-body-heavy">Volver</button>
    </div>

</div>

<shared-confirm-dialog [message]="confirmMessage" [title]="tittleMessage"
    (confirm)="responseApproveConsolidated($event)"></shared-confirm-dialog>