<div id="modal-email-notification-consolidated" class="modal">
    <div class="modal-content">
        <span class="title-three">Correo de notificación</span>
        <div class="line"></div>
        <div class="messages-container">
            <img src="assets/icons/messages/teacher.svg" alt="icon-info">
            <span class="text-body-regular">La persona seleccionadas rebiran un correo electrónico advirtiendo el estado de evaluación de la fuente y las observaciones ingresadas.</span>
        </div>
        <section>
            <span class="text-body-regular">El correo se notificará a las siguientes personas:</span>
            <ul>
                <li>
                    <input type="checkbox" value="evaluado" (change)="selectCheckBox($event)"> <span class="text-body-regular">Evaluado</span>
                </li>
                <li>
                    <input type="checkbox" value="evaluador" (change)="selectCheckBox($event)"> <span class="text-body-regular">Evaluador</span>
                </li>
                <li>
                    <input type="checkbox" value="jefe" (change)="selectCheckBox($event)"> <span class="text-body-regular">Jefe de departamento</span>
                </li>
            </ul>
        </section>
        <section>
            <span class="title-three">Observaciones</span>
            <input type="text" class="observation" (input)="observation($event)">
        </section>
        <section>
            <div class="modal-buttons">
                <button class="button-modal text-body-heavy" (click)="closeModal()">
                    Cerrar
                </button>
                <button class="button-modal text-body-heavy" (click)="sendEmail()">
                    Enviar
                </button>
            </div>
        </section>
    </div>
</div>